// Color Scheme
$palette-grayscale-0:               #FFFFFF;
$palette-grayscale-1:               #F4F4F4;
$palette-grayscale-2:               #9E9E9E;
$palette-grayscale-3:               #161616;
$palette-grayscale-4:               #000000;

$palette-highlight:                 #FD269D;

// Font Scheme
$font-default:                        'Nunito', sans-serif;

// Font Weights
$font-weight-bold:                    700;
$font-weight-regular:                 400;

// Font Size (For REM Calculation)
$base-font-size: 16;

// Other
$outer-padding:                       40px;